<!-- <app-course-list></app-course-list>
<app-lifecycle></app-lifecycle>>
<app-course></app-course> -->

<nav>
    <a routerLink="/courses" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Courses</a>
    <a routerLink="/about" routerLinkActive="active" >About</a>
    <!-- <a routerLink="/admin/addcourse" routerLinkActive="active" >Add Course</a>
    <a routerLink="/admin/students" routerLinkActive="active" >View Students</a> -->
    <a routerLink="/admin" routerLinkActive="active" >Admin</a>
    <a routerLink="/signup" routerLinkActive="active" >SignUp</a>
    
</nav>
<div class="main-content">
    <router-outlet></router-outlet>
</div>